<h1 class="font-bold text-green-300 text-center text-3xl">Workout Report</h1>
<div class="border rounded overflow-hidden m-2">
  <div class="flex">
    <button
      (click)="setActiveTab('tab1')"
      [class.active]="activeTab === 'tab1'"
      class="flex-1 py-2 px-4 border-b hover:bg-gray-200 cursor-pointer"
      [ngClass]="{
        'border-blue-500 border-b-2 bg-gray-200': activeTab === 'tab1'
      }"
    >
      Workout Details
    </button>
    <button
      (click)="setActiveTab('tab2')"
      [class.active]="activeTab === 'tab2'"
      class="flex-1 py-2 px-4 border-b hover:bg-gray-200 cursor-pointer"
      [ngClass]="{
        'border-blue-500 border-b-2 bg-gray-200': activeTab === 'tab2'
      }"
    >
      Workout Trends
    </button>
  </div>

  <div class="p-4">
    <div *ngIf="activeTab === 'tab1'">
      <h1 *ngIf="user$ | async as user">{{ user.age }}</h1>
      <app-workout-model></app-workout-model>
    </div>
    <div *ngIf="activeTab === 'tab2'">
      <app-workout-trend-chart></app-workout-trend-chart>
    </div>
  </div>
</div>
